@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  input[type="checkbox"]{
    accent-color: #1F2937;
  }
  @layer components{
    .style-for-filters{
      @apply flex gap-2;
      @apply items-center;
      @apply pt-2;
    }

 
  }
  .custom-dropdown select:hover {
    background-color: #cbd5e0; /* Set your desired hover color */
  }
  
}